
.nav-style{
    background-color: #5f008b;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    padding: 0 30px;
    text-decoration: none;
    font-style: none;
  }

  .logout-button{
    text-decoration: none;
    font-style: none;
  }
 
  .logo-text{
    text-decoration: none;
    font-style: none;
    color: white;
    font-weight: bolder;
  }
  

  .welcome{
    color: white;
    font-weight: bolder;
  }