
.nav-style{
    background-color: #8F57FF;
    display: flex;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    padding: 0 30px;
    text-decoration: none;
    font-style: none;
  }

  .logout-button{
    text-decoration: none;
    font-style: none;
  }
 
  .logo-text{
    text-decoration: none;
    font-style: none;
    color: white;
    font-weight: bolder;
  }

  .logo img{
    max-height: 80px;
    max-width: 150px;
  }
  

  .welcome{
    color: white;
    font-weight: bolder;
  }

  @media (min-width: 60px) and (max-width: 650px) {
    .responsive-div-navbar {
      /* background-color: green; */
      font-size: 0px;
    }
}