.feed{
    background-color: rgba(250, 250, 250, 0.904);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: flex-start;
    width: 90%;
    margin: 20px auto;
}

.addPost{
    height: 30vh;
    width: 40vw;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px;
}

.addPost textarea{
    height: 15vh;
    width: 35vw;
    max-width: 850px;
}    

.addPostFrom{
    background-color: rgb(255, 255, 255);
    height: 30vh;
    width: 40vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(189, 187, 187);

}

.title{
    width: 35vw;
    max-width: 850px;
    height: 20px;
    text-align: center;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(247, 242, 255);
}

.text{
    width: 35vw;
    max-width: 850px;
    height: 60px;
    text-align: center;
    padding:  30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(245, 240, 255);

}

.button{
    background-color: rgb(105, 88, 182);
    width: 100px;
    height: 25px;
}

.feed-container{
    display: flex;
    justify-content: space-around;
    
}

.listOfPosts{
    background-color: rgb(255, 255, 255);
    max-height: 100%;
    width: 40vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    /* border: 0.5px solid rgb(199, 199, 199); */
    box-shadow: 0px 0px 10px rgb(189, 187, 187);
    margin: 10px 0px;
}

.post-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.postoflist-info{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.listOfPosts img{
    max-height: 600px;
    max-width: 100%;
    margin: 10px 0px;
}

.side-profile{
    background-color: white;
    height: 380px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px rgb(189, 187, 187);
    border-radius: 5px;
    align-items: center;
}

.side-profile-photo{
    position: relative;
    height: 45%; 
}

.side-background{
    width: 100%;
}

.main-profile-pic-post{
    height: 100px;
    width: 100px;   
    background-color: rgb(255, 255, 255);
    margin: 10px auto 20px;
    border-radius: 100%;
    position: absolute;
    top: 40px;
    left: 75px;
    
}


.friendList{
    background-color: rgb(248, 242, 151);
    height: 30vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(189, 187, 187);
    border-radius: 5px;
}

.text-link-name {
    color: rgb(110, 0, 110);
    font-weight: bolder;
    text-decoration: inherit;
    margin: 10px 0px 3px;
    max-width: 100px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.text-link {
    color: rgb(73, 73, 73);
    text-decoration: inherit;
    margin: 5px 0px 3px;
    max-width: 100px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.profile-info-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    max-width: 120px;
    min-width: 110px;
    height: 110px;
}

.profile-button{
    font-size: 5px;
    max-width: 120px;
    max-height: 30px;
}

.no-text-decor{
    text-decoration: none;
}

.post-buttons {
    width: 250px;
    max-height: 50px;
    display: flex;
    justify-content: space-around;

}

.profile-img{
    height: 100%;
}

.profile-img img{
    height: 40px;
    width: 40px;   
    background-color: rgb(168, 168, 168);
    margin: 10px 10px 20px;
    border-radius: 100%;
}
.post-text{
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: bolder;
}

.postlist-profileimg-name{
    display: flex;
    justify-content: start;
    align-items: center;    
    width: 120px;
    height: 60px;
    align-content: center;
    left: 0px;
    margin: 10px 10px 0px;

}

.post-title-text{
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(31, 31, 31);
    font-size: 15px;
}

.profile-img-post img{
    height: 40px;
    width: 40px;   
    background-color: rgb(168, 168, 168);
    margin: 10px 10px;
    border-radius: 100%;
}


.my-profile-mobile, .main-profile-pic-mobile, .side-profile-mobile, .side-profile-photo-mobile, .profile-button-mobile, .side-background-m {
    width: 0;
}

.text-link-name-mobile{
    display: none;
}


@media (min-width: 60px) and (max-width: 800px) {
    .responsive-div-postlist {
      /* background-color: green; */
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }

    .feed-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      margin: auto;
    }

    /* Post */

    .addPost{
        width: 100vw;
        margin: 10px 0px 10px;
        /* background-color: blueviolet; */
        height: 160px;
    }

    .addPostFrom{
        width: 90vw;
        /* background-color: burlywood; */
        height: 150px;
    }
    
    .addPost textarea{
        width: 80vw;
        height: 8vh;
    } 

    .title{
        width: 80vw;
    }

/* Side Profile */

    .side-profile{
        display: none;
    }

    .profile-mobile{
        height: 170px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0px 0px 5px rgb(189, 187, 187);
        border-radius: 5px;
        align-items: center;
    }

    .side-profile-photo-mobile{
        position: relative;
        height: 100%; 
        width: 100%;
    }

    .side-background-m{
        width: 100%;
        height: 50%;
        position: relative;
    }

    .main-profile-pic-mobile{
        height: 85px;
        width: 85px;   
        margin: 10px auto 20px;
        border-radius: 100%;
        position: absolute;
        left: 7%;
        top: 20%;
    }

    
    .text-link-name-mobile{
        position: absolute;
        left: 120px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: larger;
        color: black;
    }
    
    .listOfPosts{
        max-height: 100%;
        width: 90%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        border-radius: 5px;
        /* border: 0.5px solid rgb(199, 199, 199); */
        box-shadow: 0px 0px 10px rgb(189, 187, 187);
        margin: 5px 0px;
    }

    .friendList{
        display: none;
    }
    
}
