
.friend-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 20px auto;
}

.user{
    background-color: white;
    min-height: 280px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px rgb(189, 187, 187);
    border-radius: 5px;
    align-items: center;
    margin: 15px 5px;

}

.user img{
    height: 6rem;
    width: 6rem;
    margin: 10px 0px;
    border-radius: 100%;
}


.profile-info-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    max-width: 120px;
    min-width: 110px;
    height: 110px;
}

.text-link-name {
    color: black;
    font-weight: bolder;
    text-decoration: inherit;
    margin: 10px 0px 3px;
    max-width: 100px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.text-link {
    color: rgb(73, 73, 73);
    text-decoration: inherit;
    margin: 5px 0px 3px;
    max-width: 100px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.no-text-decor{
    text-decoration: none;
}
.search-filter-container{
    /* background-color: burlywood; */
    width: 80%;
    height: 50px;
    margin: 20px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar{
    /* background-color: chartreuse; */
    width: 50vw;

}

.filter-buttons{
    /* background-color: blueviolet; */
    width: 400px;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.filter-buttons Button{
    margin: 0px 10px ;
}


/* SearchBar*/

.search-bar input{
    width: 45vw;
    height: 35px;
    box-shadow: 0px 0px 5px rgb(189, 187, 187);
    border-radius: 5px;
    align-items: center;
    border: none;
    font-size: 1rem;
    padding: 5px 5px 5px 10px;
}


/* Responsive */

@media (min-width: 60px) and (max-width: 800px) {
    .responsive-div {
      /* background-color: green; */
      display: flex;
      flex-direction: column;
      height: 70px;
      justify-content: space-around;
      width: 100%;
    }
}

@media (min-width: 60px) and (max-width: 500px) {
    .responsive-div-filter {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 50px;
      width: 100vw;
      margin: auto;
      justify-content: space-around;
    }

    .responsive-div-filter Button{
        width: 100vw;
    }
    .profile-button{
        width: 100%;
    }

    .searchbar{
        width: 100vw;
    }
    
    .search-bar input{
        width: 95vw;
        margin: auto;

    }

    .friend-list{
        display: flex;
        width: 100vw;
        margin: 10px auto;
        padding: 3px;
    }
    .responsive-div-filter Button {
      /* background-color: yellow; */
      height: 100px;
      width: 200px;
      margin: auto;
      margin: 5px;
    }

    .user{
        width: 45vw;
    }
}